@page
@model UserRolesDemo.Pages.UserModel
@{
}

<h2 class="text-center">Welcome to your Account</h2>
<div>
    First Name: @Model.appUser?.FirstName
</div>
<div>
    Last Name: @Model.appUser?.LastName
</div>
<div>
    Email: @Model.appUser?.Email
</div>
<div>
    Phone: @Model.appUser?.PhoneNumber
</div>
<div>
    Address: @Model.appUser?.Address
</div>
<div>
    CreatedAt: @Model.appUser?.CreatedAt.ToString("MM/dd/yyyy")
</div>

